body,html{
    margin: 0;
    padding:0;
}
body{
    width: 100%;
    height: 100%;
    background: black;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.movie-card{
    border: solid 1px white;
    text-align: center;
    width: 40%;
    margin: auto;
    margin-bottom:20px;
    min-height: 150px;
}

.movie-card p{
    font-size:23px;
    font-family: 'Montserrat', sans-serif;
}

.movie-card li{
    text-align: left;
}

.clickable{
    cursor: pointer;
}

.pagination{
    display: inline-block;
    padding-left: 0;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    margin: auto;
}

.pagination div{
    display: inherit;
    padding: 5px;

}
.pagination a {
    cursor: pointer;
}

/*.pager {*/
/*    display: inline-block;*/
/*    padding-left: 0;*/
/*    margin: 20px 0;*/
/*    border-radius: 4px;*/
/*}*/
/*.pager>li {*/
/*    display: inline;*/
/*}*/
.pagination>li>a {
    position: relative;
    float: left;
    padding: 5px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #fff;
    text-decoration: none;
    background-color: #969596;
    border: 1px solid #fff;
}

.pagination>.active>a {
    z-index: 2;
    color: white;
    cursor: default;
    padding:5px;
    background-color: #969596;
    border-color: #969596;
}
/*.disabled {*/
/*    background-color: #B7B7B7 !important;*/
/*}*/
/*.disabled>a {*/
/*    cursor: default !important;*/
/*    color: #B7B7B7 !important;*/
/*}*/

.back{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: url('https://source.unsplash.com/evlkOfkQ5rE');
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container{
    width: 75%;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-weight: 600;
    font-family: 'MuseoModerno', cursive;
    text-shadow: 2px 2px 2px black;
}

.results-title{
    width: 75%;
    margin: auto;
    text-align: center;
    font-weight: 600;
    font-family: 'MuseoModerno', cursive;
    text-shadow: 2px 2px 2px black;
    font-size: 38px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.container p{
    margin: 20px 0;
    font-size: 2.4rem;
}

.container input[type='text']{
    width: 80%; 
    border-radius: 25px 25px;
}

.container button{
    border-radius: 25px 25px;
    color: white;
    background: rgb(16, 85, 124);
    transition: background 0.2s;
    width: 26%;
    height: 51px;
}

.container .disabled{
    background: rgba(16, 85, 124, 0.49) !important;
    color: gray;
    cursor: default !important;
}

.container input[type='submit']:hover{
    background: rgba(0, 69, 109, 0.774);
}

.container input[type='submit']:active{
    background: rgb(0, 34, 54);
}

form{
    overflow: hidden;
    text-align: center;
    margin: auto;
    width: 70%;
}

.container input{
    outline: none;
    border: none;
    height: 50px;
    margin: 0;
    padding: 0 20px;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}


.search{
    font-size: 3rem;
    font-weight: 300;
}

.search-input{
    display: flex;
}

@media(max-width: 1150px){
    .container input[type='text']{
        width: 65%;
    }
    .container input[type='submit']{
        width: 22%;
    }
}
