<div class="back"></div>
<div class="filter"></div>

<div class="container">
    <p class="search">Search Movie </p>
    <div class="search-input">
        <input id="search-bar" type="text" placeholder="Enter Movie Name" autofocus
               ng-model="vm.title"
               ng-value="vm.title">
        <button ng-disabled = "vm.title == null || vm.title.length < 1",
                ng-class="{disabled:vm.title == null || vm.title.length < 1}"
                ng-click="vm.onSearchClick(vm.title)">Search</button>
    </div>
</div>

